
<login_page>
<% if flash[:login_error] %><div class="login_page_error"><%= flash[:login_error] %></div><% end %>
<%= form_tag login_path do %>
  <div class="field">
    Enter your login details:<br /><br />
    email: <br
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    password: <br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag 'Sign in' %>
  </div>
<% end %>
</login_page>

