<header>
  <% logo = image_tag "logo.png", :alt => "Elearning App", :class => "round" %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li>
        <% if session[:current_user] %>
          <class style="color: #09c; font-weight: bold;"><%= "Logged in: #{session[:current_user].first.name}" %></class>
          <li><%= link_to '(Sign out)', signout_path %></li>
      <% else %>
        <class id="login"><%= link_to_function 'Sign in' %></class>
      <% end %>
      </li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Contact us", contact_path %></li>
    </ul>
  </nav>
</header>

