<header>
  <% logo = image_tag "logo.png", :alt => "Elearning App", :class => "round" %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li>
        <% if session[:current_user] %>
          <class style="color: #09c; font-weight: bold;"><%= "Logged in: #{session[:current_user].first.name}" %></class>
          <li><%= link_to '(Sign out)', logout_path %></li>
      <% else %>
        <div id="login-button"><%= link_to_function 'Sign in' %></div>
        <div id="login" style="display: none;"><%= render 'layouts/login' %></div>
      <% end %>
      </li>
      <% if logged_in? %><li><%= link_to 'My account', my_account_path %></li><% end %>
      <li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About us", about_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "Contact us", contact_path %></li>
    </ul>
  </nav>
</header>

