<!DOCTYPE html>
<html>
<head>
  <title>Elearning</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery', 'jquery_ui', 'application', :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>

